---

// Component Script:
// You can write any JavaScript/TypeScript that you'd like here.
// It will run during the build, but never in the browser.
// All variables are available to use in the HTML template below.
let title = 'macOS can do that?';

// Full Astro Component Syntax:
// https://docs.astro.build/core-concepts/astro-components/
---
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width">
  <title>{title}</title>

  <link rel="icon" type="image/x-icon" href="/favicon.ico" />

  <link rel="stylesheet" href="/style/global.css">

  <style>
  </style>
</head>

<body>
  <main>
    <header>
      <small>Brought to you by <a href="#">Danny de Vries.</a></small>
      <h1><span>macOS can do that?</span> All the hidden tips about MacOS that nobody ever bothered to tell you. </h1>
    </header>
    <section>
      <span>01</span>
      <div>
        <h3>Force Collapsible Regions</h3>
        <p>VS Code will automatically collapse code and markup at the appropriate level. You can also force VS Code to
          collapse certain regions by marking them with a //#region comment.</p>
        <a href="#">Learn more</a>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9Lz7jliEvGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
        <section>
      <span>01</span>
      <div>
        <h3>Force Collapsible Regions</h3>
        <p>VS Code will automatically collapse code and markup at the appropriate level. You can also force VS Code to
          collapse certain regions by marking them with a //#region comment.</p>
        <a href="#">Learn more</a>
      </div>
      <iframe width="560" height="315" src="https://www.youtube.com/embed/9Lz7jliEvGg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe>
    </section>
        <section>
          <span>01</span>
          <div>
            <h3>Force Collapsible Regions</h3>
            <p>VS Code will automatically collapse code and markup at the appropriate level. You can also force VS Code to
              collapse certain regions by marking them with a //#region comment.</p>
            <a href="#">Learn more</a>
          </div>
          <iframe width="560" height="315" src="https://www.youtube.com/embed/9Lz7jliEvGg" title="YouTube video player"
            frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture"
            allowfullscreen></iframe>
        </section>
  </main>
</body>

</html>